---
# Response 메세지 정의 (정상응답, 에러)
#   -> 정상응답 중에서 각 HTTP METHOD 에 해당하는 코드 정리
#   -> 에러 코드도 일반적으로 사용하는 것을 제외하고 우리만 사용하는 코드 정의
#      EX) DB 에러 (종류에 따라 라던지), 토큰 Not Found 에러 등등
# response, schemas, examples 어느 범위 까지 모듈로 빼서 사용할지?
#   -> Error 쪽은 빼서 사용하는게 맞는데 나머지는 어떻게 하는게 좋을지?
# 하나의 API 요청은 Response Schema도 하나여야 하는 개념인 것 같은데 어떻게 생각하시는지?
# sub tag 기능이 없음 (유료버전 Swagger Hub 에는 있는데 무리인 것 같음 너무 비쌈)
#   -> View 이름을 앞에 붙이고 기능을 뒤에 쓰는 방식으로 해서 구분 짓는 방식 생각 중
# 코드 재사용 관련 기능으로 상속(inherit) / 콤보박스 처럼 조건 거는 기능(discriminate) 알아봐야 함
# SECURITY 부분은 아직 알아보지 못했음 추후에 더 알아봐야 함

# 일단 비슷한 API 요청이 여러개인 경우 path parameter로 받고 API 명세에는 구분해서 넣는 방식으로 (나중에 합치고)

openapi: '3.0.2'
info:
  title: MES API Document
  version: '1.0.0'
  license:
    name: 'MIT'
    url: 'https://spdx.org/licenses/MIT.html'
  contact:
    name: 'KISOS'
    url: 'https://www.kisos.net'
    email: 'kisos@kisos.net'
servers:
  - url: https://isos.iptime.org:13221
    description: MES TEST SERVER

components:
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
    petstore_auth:
      type: oauth2
      flows: 
        implicit:
          authorizationUrl: http://example.org/api/oauth/dialog
          scopes:
            write:pets: modify pets in your account
            read:pets: read your pets

paths:
  # ✅ Permission (권한)
  /aut/permission/{uuid}:
    $ref: ../end-points/aut/permission.{uuid}.yaml
  /aut/permissions:
    $ref: ../end-points/aut/permissions.yaml
    
  # ✅ Group (그룹)
  /aut/group/{uuid}:
    $ref: ../end-points/aut/group.{uuid}.yaml
  /aut/groups:
    $ref: ../end-points/aut/groups.yaml
    
  # ✅ GroupPermission (그룹권한)
  /aut/group-permissions:
    $ref: ../end-points/aut/group-permissions.yaml

  # ✅ MenuType (메뉴유형)
  /aut/menu-type/{uuid}:
    $ref: ../end-points/aut/menu-type.{uuid}.yaml
  /aut/menu-types:
    $ref: ../end-points/aut/menu-types.yaml

  # ✅ Menu (메뉴)
  /aut/menus/permission:
    $ref: ../end-points/aut/menus.permission.yaml
  /aut/menu/{uuid}:
    $ref: ../end-points/aut/menu.{uuid}.yaml
  /aut/menus:
    $ref: ../end-points/aut/menus.yaml

  # ✅ User (사용자)
  /aut/user/sign-in:
    $ref: ../end-points/aut/user.sign-in.yaml
  /aut/users/pwd:
    $ref: ../end-points/aut/users.pwd.yaml
  /aut/user/{uuid}:
    $ref: ../end-points/aut/user.{uuid}.yaml
  /aut/users:
    $ref: ../end-points/aut/users.yaml
    
  # ✅ UserPermission (사용자권한)
  /aut/user-permissions:
    $ref: ../end-points/aut/user-permissions.yaml