---
# Response 메세지 정의 (정상응답, 에러)
#   -> 정상응답 중에서 각 HTTP METHOD 에 해당하는 코드 정리
#   -> 에러 코드도 일반적으로 사용하는 것을 제외하고 우리만 사용하는 코드 정의
#      EX) DB 에러 (종류에 따라 라던지), 토큰 Not Found 에러 등등
# response, schemas, examples 어느 범위 까지 모듈로 빼서 사용할지?
#   -> Error 쪽은 빼서 사용하는게 맞는데 나머지는 어떻게 하는게 좋을지?
# 하나의 API 요청은 Response Schema도 하나여야 하는 개념인 것 같은데 어떻게 생각하시는지?
# sub tag 기능이 없음 (유료버전 Swagger Hub 에는 있는데 무리인 것 같음 너무 비쌈)
#   -> View 이름을 앞에 붙이고 기능을 뒤에 쓰는 방식으로 해서 구분 짓는 방식 생각 중
# 코드 재사용 관련 기능으로 상속(inherit) / 콤보박스 처럼 조건 거는 기능(discriminate) 알아봐야 함
# SECURITY 부분은 아직 알아보지 못했음 추후에 더 알아봐야 함

# 일단 비슷한 API 요청이 여러개인 경우 path parameter로 받고 API 명세에는 구분해서 넣는 방식으로 (나중에 합치고)

openapi: "3.0.2"
info:
  title: MES API Document
  version: "1.0.0"
  license:
    name: "MIT"
    url: "https://spdx.org/licenses/MIT.html"
  contact:
    name: "KISOS"
    url: "https://www.kisos.net"
    email: "kisos@kisos.net"
servers:
  - url: https://isos.iptime.org:13221
    description: MES TEST SERVER

components:
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
    petstore_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: http://example.org/api/oauth/dialog
          scopes:
            write:pets: modify pets in your account
            read:pets: read your pets

paths:
  # ✅ Release (자재공정출고)
  /mat/releases/report:
    $ref: ../end-points/mat/releases.report.yaml
  /mat/release/{uuid}:
    $ref: ../end-points/mat/release.{uuid}.yaml
  /mat/releases:
    $ref: ../end-points/mat/releases.yaml

  # ✅ Return (자재반출)
  /mat/returns/report:
    $ref: ../end-points/mat/returns.report.yaml
  /mat/return/{uuid}:
    $ref: ../end-points/mat/return.{uuid}.yaml
  /mat/return/{uuid}/details:
    $ref: ../end-points/mat/return.{uuid}.details.yaml
  /mat/return/{uuid}/include-details:
    $ref: ../end-points/mat/return.{uuid}.include-details.yaml
  /mat/returns:
    $ref: ../end-points/mat/returns.yaml

  # ✅ ReturnDetail (자재반출상세)
  /mat/return-detail/{uuid}:
    $ref: ../end-points/mat/return-detail.{uuid}.yaml
  /mat/return-details:
    $ref: ../end-points/mat/return-details.yaml

  # ✅ Order (자재발주)
  /mat/orders/report:
    $ref: ../end-points/mat/orders.report.yaml
  /mat/order/{uuid}:
    $ref: ../end-points/mat/order.{uuid}.yaml
  /mat/order/{uuid}/details:
    $ref: ../end-points/mat/order.{uuid}.details.yaml
  /mat/order/{uuid}/include-details:
    $ref: ../end-points/mat/order.{uuid}.include-details.yaml
  /mat/orders:
    $ref: ../end-points/mat/orders.yaml

  # ✅ OrderDetail (자재발주상세)
  /mat/order-details/complete:
    $ref: ../end-points/mat/order-details.complete.yaml
  /mat/order-detail/{uuid}:
    $ref: ../end-points/mat/order-detail.{uuid}.yaml
  /mat/order-details:
    $ref: ../end-points/mat/order-details.yaml

  # ✅ Receive (자재입하)
  /mat/receive/lot-tracking:
    $ref: ../end-points/mat/receive.lot.tracking.yaml
  /mat/receives/report:
    $ref: ../end-points/mat/receives.report.yaml
  /mat/receive/{uuid}:
    $ref: ../end-points/mat/receive.{uuid}.yaml
  /mat/receive/{uuid}/details:
    $ref: ../end-points/mat/receive.{uuid}.details.yaml
  /mat/receive/{uuid}/include-details:
    $ref: ../end-points/mat/receive.{uuid}.include-details.yaml
  /mat/receives:
    $ref: ../end-points/mat/receives.yaml

  # ✅ ReceiveDetail (자재입하상세)
  /mat/receive-detail/{uuid}:
    $ref: ../end-points/mat/receive-detail.{uuid}.yaml
  /mat/receive-details:
    $ref: ../end-points/mat/receive-details.yaml
