---
# Response 메세지 정의 (정상응답, 에러)
#   -> 정상응답 중에서 각 HTTP METHOD 에 해당하는 코드 정리
#   -> 에러 코드도 일반적으로 사용하는 것을 제외하고 우리만 사용하는 코드 정의
#      EX) DB 에러 (종류에 따라 라던지), 토큰 Not Found 에러 등등
# response, schemas, examples 어느 범위 까지 모듈로 빼서 사용할지?
#   -> Error 쪽은 빼서 사용하는게 맞는데 나머지는 어떻게 하는게 좋을지?
# 하나의 API 요청은 Response Schema도 하나여야 하는 개념인 것 같은데 어떻게 생각하시는지?
# sub tag 기능이 없음 (유료버전 Swagger Hub 에는 있는데 무리인 것 같음 너무 비쌈)
#   -> View 이름을 앞에 붙이고 기능을 뒤에 쓰는 방식으로 해서 구분 짓는 방식 생각 중
# 코드 재사용 관련 기능으로 상속(inherit) / 콤보박스 처럼 조건 거는 기능(discriminate) 알아봐야 함
# SECURITY 부분은 아직 알아보지 못했음 추후에 더 알아봐야 함

# 일단 비슷한 API 요청이 여러개인 경우 path parameter로 받고 API 명세에는 구분해서 넣는 방식으로 (나중에 합치고)

openapi: '3.0.2'
info:
  title: MES API Document
  version: '1.0.0'
  license:
    name: 'MIT'
    url: 'https://spdx.org/licenses/MIT.html'
  contact:
    name: 'KISOS'
    url: 'https://www.kisos.net'
    email: 'kisos@kisos.net'
servers:
  - url: https://isos.iptime.org:13221
    description: MES TEST SERVER

components:
  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
    petstore_auth:
      type: oauth2
      flows: 
        implicit:
          authorizationUrl: http://example.org/api/oauth/dialog
          scopes:
            write:pets: modify pets in your account
            read:pets: read your pets

paths:
  # ✅ Work (생산실적)
  /prd/works/cancel-complete:
    $ref: ../end-points/prd/works.cancel-complete.yaml
  /prd/works/complete:
    $ref: ../end-points/prd/works.complete.yaml
  /prd/works/report:
    $ref: ../end-points/prd/works.report.yaml
  /prd/work/{uuid}:
    $ref: ../end-points/prd/work.{uuid}.yaml
  /prd/works:
    $ref: ../end-points/prd/works.yaml

  # ✅ WorkReject (실적-부적합)
  /prd/work-rejects/by-work:
    $ref: ../end-points/prd/work-rejects.by-work.yaml
  /prd/work-rejects/report:
    $ref: ../end-points/prd/work-rejects.report.yaml
  /prd/work-reject/{uuid}:
    $ref: ../end-points/prd/work-reject.{uuid}.yaml
  /prd/work-rejects:
    $ref: ../end-points/prd/work-rejects.yaml

  # ✅ WorkDowntime (실적-비가동)
  /prd/work-downtimes/report:
    $ref: ../end-points/prd/work-downtimes.report.yaml
  /prd/work-downtime/{uuid}:
    $ref: ../end-points/prd/work-downtime.{uuid}.yaml
  /prd/work-downtimes:
    $ref: ../end-points/prd/work-downtimes.yaml

  # ✅ WorkInput (실적-자재투입)
  /prd/work-inputs/group:
    $ref: ../end-points/prd/work-inputs.group.yaml
  /prd/work-input/{uuid}:
    $ref: ../end-points/prd/work-input.{uuid}.yaml
  /prd/work-inputs:
    $ref: ../end-points/prd/work-inputs.yaml
  # /prd/work-inputs/by-work:
  #   $ref: ../end-points/prd/work-inputs.by-work.yaml

  # ✅ WorkWorker (실적-작업자투입)
  /prd/work-worker/{uuid}:
    $ref: ../end-points/prd/work-worker.{uuid}.yaml
  /prd/work-workers:
    $ref: ../end-points/prd/work-workers.yaml

  # ✅ WorkerRouting (실적-공정순서)
  /prd/work-routing/{uuid}:
    $ref: ../end-points/prd/work-routing.{uuid}.yaml
  /prd/work-routings:
    $ref: ../end-points/prd/work-routings.yaml

  # ✅ Return (자재반납)
  /prd/returns/report:
    $ref: ../end-points/prd/returns.report.yaml
  /prd/return/{uuid}:
    $ref: ../end-points/prd/return.{uuid}.yaml
  /prd/returns:
    $ref: ../end-points/prd/returns.yaml

  # ✅ Demand (자재출고요청)
  /prd/demands/complete:
    $ref: ../end-points/prd/demands.complete.yaml
  /prd/demand/{uuid}:
    $ref: ../end-points/prd/demand.{uuid}.yaml
  /prd/demands:
    $ref: ../end-points/prd/demands.yaml

  # ✅ Order (작업지시)
  /prd/orders/complete:
    $ref: ../end-points/prd/orders.complete.yaml
  /prd/orders/worker-group:
    $ref: ../end-points/prd/orders.worker-group.yaml
  /prd/order/{uuid}:
    $ref: ../end-points/prd/order.{uuid}.yaml
  /prd/orders:
    $ref: ../end-points/prd/orders.yaml

  # ✅ OrderRouting (지시-공정순서)
  /prd/order-routing/{uuid}:
    $ref: ../end-points/prd/order-routing.{uuid}.yaml
  /prd/order-routings:
    $ref: ../end-points/prd/order-routings.yaml

  # ✅ OrderInput (지시-자재투입)
  /prd/order-input/{uuid}:
    $ref: ../end-points/prd/order-input.{uuid}.yaml
  /prd/order-inputs:
    $ref: ../end-points/prd/order-inputs.yaml

  # ✅ OrderWorker (지시-작업자투입)
  /prd/order-worker/{uuid}:
    $ref: ../end-points/prd/order-worker.{uuid}.yaml
  /prd/order-workers:
    $ref: ../end-points/prd/order-workers.yaml